@model RecipeBox.Models.Recipe

<h2>Add a Tag</h2>

<h4>Add a Tag to @Html.DisplayFor(model => model.RecipeName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.Label("Select category")
  @Html.DropDownList("CategoryId")

  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>