@model RecipeBox.Models.Recipe

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RecipeName)
  @Html.TextBoxFor(model => model.RecipeName)

  @Html.LabelFor(model => model.Rating)
  @Html.EditorFor(model => model.Rating)

  @Html.Label("Select category")
  @Html.DropDownList("CategoryId")

  <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>